@model List<ProductViewModel>
@{
    ViewData["Title"] = "Default";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Rüya Ev Ürünler</h2>
                    @foreach (ProductViewModel item in Model)
                    {

                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="@item.Image" alt="" />
                                        <h2>@item.Price TL</h2>
                                        <p>@item.ProductName</p>
                                        <ul>
                                            <li><a asp-controller="Home" asp-action="Product" asp-route-id="@item.Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
