@model Tuple<ProductViewModel, UserViewModel>

@{
    ViewData["Title"] = "UserInformation";
}

<div class="container">
    <div class="row">
        <div class="header-bar">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2 class="page-title">Hesabım</h2>
                    <div class="panel-group accordion-border" id="accordian">
                        <div id="container">
                            <div class="wrapper">
                                <div id="account" class="grid-pad-top-bottom-20">
                                    <div class="left-menu">
                                        <ul>
                                            <li class="account-menu-button active" data-section-id="orders">
                                                <i class="account-menu-orders-icon"></i>
                                                <a href="/hesabim/siparislerim">Siparişlerim</a>
                                                <i class="account-menu-right-arrow"></i>
                                            </li>
                                            <li class="account-menu-button" data-section-id="account-info">
                                                <i class="account-menu-user-info-icon"></i>
                                                <a href="/Hesabim/KullaniciBilgileri">Kullanıcı Bilgilerim</a>
                                                <i class="account-menu-right-arrow"></i>
                                            </li>
                                            <li class="account-menu-button" data-section-id="addressInfo">
                                                <i class="account-menu-address-info-icon"></i>
                                                <a href="/Hesabim/AdresBilgileri">Adres Bilgilerim</a>
                                                <i class="account-menu-right-arrow"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <label>@ViewBag.name</label>
                                    <label>@ViewBag.surename</label>
                                    <label>@ViewBag.adress</label>
                                    <label>@ViewBag.tel</label>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
